.result-analysis {
    text-align: center;
    font-family: Arial, sans-serif;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.table-container {
    width: 60%;
    text-align: left;
}

.chart-container {
    width: 35%;
    text-align: center;
}

.result-count {
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.result-count p {
    color: #660033;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

.pass-count {
    color: #28a745;
}

.fail-count {
    color: #660033;;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: #660033;
}
h3 {
    color:#660033;
}
td.pass {
    color: white;
    background-color: #28a745;
    font-weight: bold;
}

td.fail {
    color: white;
    background-color: #dc3545;
    font-weight: bold;
}
.print-button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #660033;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
@media print {
    .print-button {
        display: none;
    }
}
/* Container for the action buttons */
.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

/* General button styling */
.action-button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    color: white;
    background-color: #660033;
}



/* Search Input */
.search-input {
    padding: 10px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
    transition: border 0.3s ease-in-out;
}



/* Table Action Buttons (Delete & Update) */
.delete-btn, .update-btn {
    padding: 5px 8px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}




